.admin {
    margin-top: 50px;
    
    .danhmuc-form {
        border: 1px solid #cacaca;
        padding: 1rem;
        border-radius: 0;
        h4 {
            font-size: 180%;
            font-weight: 600;
        }
    }

    .dmhienco {
        background: #fbfbfb;
        border: 1px solid #ccd4d5;

        .dmcon {
            display: inline-block;
            width: 80%;
            margin: 10px 0 5px 50px;
            background-color: #dfe4e4;

            h5{
                float: left;
                margin: 15px;
            }
            button {
                float: right;
                margin: 10px;
            }
        }
    }
}
